<div class="flex items-center justify-between">
  <h1 class="text-4xl my-2 mr-6">Facturas</h1>

  <%= form_tag "/", method: :get, class: "flex items-center" do %>
    <%= select_tag :project_id, nil, include_blank: "Todos los proyectos", onchange: "this.form.submit()", class: "mr-2 p-2 rounded shadow" %>
    <%= date_field_tag :from, params[:from], onchange: "this.form.submit()", class: "shadow p-2 rounded mr-2" %>
    <%= date_field_tag :to, params[:to], onchange: "this.form.submit()", class: "shadow p-2 rounded mr-2" %>
  <% end %>

  <%= link_to "Crear factura", new_invoice_path, class: "btn btn-primary" %>
</div>

<% @invoices.each do |invoice| %>
  <div class="mb-2">
    <%= render "shared/content/box" do %>
      <div class="grid grid-cols-5 gap-4">
        <div class="flex items-center">
          <div class="text-gray-600">
            <h3 class="text-lg"><%= link_to humanized_invoice_period(invoice), [invoice.project, invoice] %></h3>
            <p><%= invoice.user.first_name %> <%= invoice.user.last_name %> en <%= link_to invoice.project.name, invoice.project %></p>
            <p>Creada el <%= invoice.created_at %></p>
          </div>
        </div>
        <div class="flex items-center text-xl justify-center">
          <%= humanized_money_with_currency(invoice.calculate_total, invoice.currency) %>
        </div>
        <div class="flex items-center text-lg">
          <% if invoice.is_paid? %>
            <%= t :invoice_paid %>
          <% end %>

          <% if invoice.is_unpaid? %>
            <%= t :invoice_unpaid %>
          <% end %>
        </div>
        <div class="flex items-center justify-end">
          <%= link_to "Descargar factura AFIP", download_invoice_project_invoice_path(invoice.project, invoice), class: "btn btn-secondary btn-sm mr-2" %>
        </div>
        <div class="flex items-center justify-end">
          <%= link_to "Descargar recibo de pago", download_payment_project_invoice_path(invoice.project, invoice), class: "btn btn-secondary btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
