<h1 class="text-4xl my-2">Facturas</h1>

<% @invoices.each do |invoice| %>
  <div class="mb-2">
    <%= render "shared/content/box" do %>
      <div class="grid grid-cols-5 gap-4">
        <div class="flex items-center">
          <%= render "shared/icon/avatar", image_url: invoice.user.avatar, extra_css: "mr-2" %>
          <div class="text-gray-600">
            <%= link_to humanized_invoice_period(invoice), status_project_invoice_path(invoice.project, invoice), class: "text-lg" %>
            <br />
            <%= invoice.user.first_name %> <%= invoice.user.last_name %> en <%= link_to invoice.project.name, invoice.project %>
          </div>
        </div>
        <div class="flex items-center text-xl justify-center">
          <%= humanized_money_with_currency(invoice.calculate_total, invoice.currency) %>
        </div>
        <div class="flex items-center text-lg">
          <% if invoice.is_paid? %>
            <%= t :invoice_paid %>
          <% end %>

          <% if invoice.is_unpaid? %>
            <%= t :invoice_unpaid %>
          <% end %>
        </div>
        <div class="flex items-center justify-end">
          <%= link_to "Descargar factura AFIP", download_invoice_project_invoice_path(invoice.project, invoice), class: "btn btn-secondary btn-sm mr-2" %>
        </div>
        <div class="flex items-center justify-end">
          <%= link_to "Descargar recibo de pago", download_payment_project_invoice_path(invoice.project, invoice), class: "btn btn-secondary btn-sm" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<div class="text-center mt-2">
  <%= link_to "Crear factura", new_invoice_path, class: "btn btn-primary" %>
</div>
