<h1 class="text-4xl my-2">Dashboard</h1>

<%= render "home/dashboard/subscription" %>

<%= render "home/dashboard/invitations" %>

<% if @stopwatch.present? %>
  <%= render "home/dashboard/running_stopwatch" %>
<% elsif @active_contracts.any? %>
  <%= render "home/dashboard/stopwatch" %>
<% else %>
  <%= render "home/dashboard/create_project" %>
<% end %>

<%= render "home/dashboard/tracks" %>
