<div class="px-4 py-8 relative overflow-hidden lg:flex items-center" style="min-height: 600px;">
  <div class="py-16 lg:w-1/2 w-full">
    <h1 class="text-center lg:text-left text-5xl text-gray-900 font-bold mb-3">Gestioná tus proyectos Freelance con Trackear.app</h1>
    <h2 class="text-center lg:text-left text-xl mb-6 text-gray-800">Trackear.app es un gestor de proyectos open source. Registrá el tiempo de tu trabajo; <strong>afianzá tus clientes e incrementá tus ganancias</strong> creando un equipo colaborativo de freelancers.</h2>
    <div class="text-center lg:text-left">
      <%= link_to "Probá Trackear.app gratis por 30 días", login_path, class: "transition-all duration-500 ease-in-out bg-pink-500 text-white rounded-xl p-3 font-bold font-bold px-6 inline-block text-xl hover:bg-pink-400 hover:shadow-lg" %>
    </div>
  </div>
  <div class="lg:w-1/2 w-full">
    <%= image_tag "header.svg", class: "select-none", style: "max-height: 500px" %>
  </div>
</div>


<div class="py-16">
  <h3 class="text-center text-4xl font-bold">¿Cómo funciona Trackear.app?</h3>
  <p class="text-xl text-center w-1/2 mx-auto mb-16">En Trackear.app podés elegir trabajar solo o, de forma colaborativa creando tu propio equipo de freelancers.</p>
  <div class="lg:flex items-center mb-10">
    <div class="w-full lg:w-1/2">
      <%= render "home/home/solo_freelancer" %>
    </div>
    <div class="px-10">
      <h4 class="text-2xl font-bold">Solo Freelancer</h4>
      <p class="text-xl mb-6">Perfecto si todavía no tenés un equipo o preferís trabajar por tu cuenta.</p>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/create-project-icon.png", class: "mr-2" %>
        Creá tu proyecto
      </div>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/track-time-icon.png", class: "mr-2" %>
        Registrá tu tiempo de trabajo
      </div>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/invoice-icon.png", class: "mr-2" %>
        Creá la factura para tu cliente
      </div>
      <%= link_to "Creá tu primer proyecto", login_path, class: "mt-3 inline-block hover:bg-blue-300 hover:shadow bg-blue-400 font-bold p-4 text-white rounded transition-all duration-500 ease-in-out" %>
    </div>
  </div>

  <hr class="py-6" />

  <div class="lg:flex items-center">
    <div class="px-10">
      <h4 class="text-2xl font-bold">Team de Freelancers</h4>
      <p class="text-xl mb-6">Ideal para proyectos en crecimiento y fidelizar clientes.</p>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/create-project-icon.png", class: "mr-2" %>
        Creá tu proyecto
      </div>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/invite-colaborator-icon.png", class: "mr-2" %>
        Invitá a tus colaboradores al equipo
      </div>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/set-rates-icon.png", class: "mr-2" %>
        Definí las tarifas de tu equipo
      </div>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/track-time-icon.png", class: "mr-2" %>
        Cada colaborador registra el tiempo de su trabajo
      </div>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/colaborator-invoice-icon.png", class: "mr-2" %>
        Cada colaborador emite su factura
      </div>
      <div class="flex items-center text-xl">
        <%= image_tag "guest/invoice-icon.png", class: "mr-2" %>
        Creá una factura general para tu cliente
      </div>
      <%= link_to "Creá tu primer proyecto", login_path, class: "mt-3 inline-block hover:bg-blue-300 hover:shadow bg-blue-400 font-bold p-4 text-white rounded transition-all duration-500 ease-in-out" %>
    </div>
    <div class="w-full lg:w-1/2">
      <%= render "home/home/team_freelancer" %>
    </div>
  </div>
</div>


<div class="py-16">
  <h3 class="text-4xl font-bold text-center">Trackear.app es ideal para...</h3>
  <div class="text-center grid grid-cols-1 lg:grid-cols-4 gap-4 py-10">
    <div>
      <h4 class="text-2xl text-pink-500">Software developers</h4>
    </div>
    <div>
      <h4 class="text-2xl text-pink-500">Diseñadores gráficos</h4>
    </div>
    <div>
      <h4 class="text-2xl text-pink-500">Automation/QCs</h4>
    </div>
    <div>
      <h4 class="text-2xl text-pink-500">Social media manager</h4>
    </div>
  </div>
  <h3 class="text-4xl text-gray-600 text-center">... y todo profesional independiente listo para el siguiente nivel!</h3>
</div>

<div class="rounded bg-pink-500 text-white p-10 text-center overflow-hidden relative">
  <%= image_tag "guest/robot.png", class: "hidden lg:block absolute z-0", style: "top: -55px; right: -175px;" %>
  <div class="relative z-1">
    <h2 class="text-4xl">¿Listo para llevar tu negocio al próximo nivel?</h2>
    <%= link_to "Probá Trackear.app gratis por 30 días", login_path, class: "transition-all duration-500 ease-in-out hover:shadow-lg inline-block bg-white text-3xl text-pink-500 p-4 rounded" %>
  </div>
</div>
