<%= render "projects/project_header" %>

<%= render "projects/invoice_confirm_hours_notification" %>
<%= render "projects/invoice_updates_notification" %>

<%= render "projects/stopwatch" %>

<div class="flex">
  <div style="width: 400px;">
    <%= yield :menu %>
  </div>
  <div class="w-full">
    <div class="ml-6">
      <%= yield :content %>
    </div>
  </div>
</div>
