<h1 class="text-4xl mb-10">Proyecto</h1>

<% content_for :menu do %>
  <div class="mt-4 pb-5">
    <%= link_to home_path, class: "btn btn-secondary w-full back-animation" do %>
      <div class="flex items-center">
        <svg class="w-5 mr-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
        </svg>
        <%= t :back %>
      </div>
    <% end %>
  </div>
  <div class="pb-5">
    <%= render "projects/invoices", invoices: @invoices %>
  </div>
  <div class="pt-5">
    <%= render "projects/members", project: @project, contracts: @contracts %>
  </div>
<% end %>
<% content_for :content do %>
  <div id="calendar-container" class="relative">
    <%= render "shared/content/box" do %>
      <div
        id="calendar"
        style="height: 800px;"
        data-events="<%= @logs.to_json %>"
      ></div>
      <div class="text-xl absolute bottom-0 mb-8">Monto a cobrar: <span id="summary">0</span></div>
      <div id="newTrack" style="display: none;" class="bg-white p-5 border border-gray-400 rounded shadow-2xl">
        <div style="width: 450px;">
          <h2 class="font-bold">Crear nuevo registro</h2>
          <%= render 'activity_tracks/form', activity_track: @new_activity_track, project: @project %>
        </div>
      </div>
      <%= javascript_pack_tag "projects/calendar" %>
    <% end %>
  </div>
<% end %>

<%= render "layout" %>
