<div class="w-full mt-16 mb-16 bg-white mx-auto border flex items-center overflow-hidden rounded shadow-lg" style="width: 700px;">
  <div class="w-1/2">
    <div class="p-6">
      <h1 class="text-center text-3xl font-bold mb-2">Log in</h1>

      <%= link_to omniauth_authorize_path(resource_name, :google_oauth2), class: "border-pink-400 border block my-2 mb-4 bg-white rounded px-6 py-3 shadow font-bold flex items-center" do %>
        <%= image_tag "google-icon.svg", width: 16, height: 16, class: "mr-3" %>
        Ingresar con Google
      <% end %>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="mb-2 text-sm">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="text-center">
          <%= f.submit "Log in", class: "btn btn-primary d-block w-full py-2" %>
        </div>
      <% end %>

      <%= link_to "¿Olvidaste tu contraseña?", new_password_path(resource_name), class: "mt-4 mb-1 text-blue-500 block text-sm" %>

      <div class="my-1 text-sm">
        ¿Nuevo en Trackear.app? <%= link_to "Registrate", new_registration_path(resource_name), class: "text-blue-500" %>
      </div>
    </div>
  </div>
  <div class="w-1/2">
    <%= image_tag "login.jpg", width: 450 %>
  </div>
</div>
<div class="text-sm text-gray-500 text-center mt-4"><span>Photo by <a href="https://unsplash.com/@nicklbaert?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Niclas Illg</a> on <a href="https://unsplash.com/s/photos/software?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span></div>
