<!doctype html>
<html lang="es" class="h-full text-gray-900 antialiased leading-tight">
  <head>
    <%= render "shared/header/metatags" %>
    <%= render "shared/header/styles" %>
  </head>
  <body class="flex flex-col h-full bg-gray-100">
    <%= render "shared/header/menu" %>
    <main class="flex-1">
      <div class="container mx-auto mt-3 pb-8">
        <div style="position: absolute; width: 100%; min-height: 676px; top: -180px; left: 0; z-index: -1; transform: skewY(-10deg); background: linear-gradient(1deg, #4c00ff, #1a202c);"></div>
        <%= yield %>
      </div>
    </main>
    <%= render "shared/footer/footer" %>
  </body>
</html>
